$blue-0: #e2eeff;
$blue-1: #9ec5fe;
$blue-2: #6ea8fe;
$blue-3: #3d8bfd;
$blue-4: #0d6efd;
$blue-5: #0a58cd;
$blue-6: #084298;
$blue-7: #052c65;
$blue-8: #031633;
//nav only
$text-primary: #b6b6b6 !default;
$text-secondary: #ffffff !default;
$bg-primary: #23232e !default;
$bg-secondary: #141418 !default;

$icon-primary: $blue-5 !default;
$icon-secondary: $blue-3 !default;

$color-primary: $blue-5 !default;
$color-secondary: $blue-2 !default;
$color-tertiary: #f4f5f6 !default;
$color-quaternary: #d1d1d1 !default;
$color-quinary: #e1e1e1 !default;

// $color-initial: #fff !default;
// $color-primary: #9b4dca !default;
// $color-secondary: #606c76 !default;

$success-color: #0be881 !default;
$bg-color-success: #f5fcf7 !default;
$warning-color: #ff9800 !default;
$error-color: #ff4d4f !default;
$bg-color-error: #fcf9f7 !default;
