@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap");

// font-family: 'Ubuntu', sans-serif;
// font-family: 'Ubuntu Mono', monospace;

body {
	font-size: $font-size-4;
	font-family: "Ubuntu", sans-serif;
}

code,
kbd,
samp,
pre {
	font-family: "Ubuntu Mono", monospace;
	font-size: $font-size-1;
}

code {
	background: #f4f5f6;
	border-radius: 0.4rem;
	font-size: 105%;
	margin: 0 0.2rem;
	padding: 0.2rem 0.5rem;
	white-space: nowrap;
}

pre {
	background: #f4f5f6;
	border-left: $border-solid-1 $blue-3;
	overflow-y: hidden;

	& > code {
		border-radius: 0;
		display: block;
		padding: 1rem 1.5rem;
		white-space: pre;
	}
}

// Typography
// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
	color: inherit;
	font-weight: 500;
	line-height: 1.2;
	margin-bottom: .5em;
	margin-top: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-weight: 500;
}

h1,
.h1 {
	font-size: 2rem;
}

h2,
.h2 {
	font-size: 1.6rem;
}

h3,
.h3 {
	font-size: 1.4rem;
}

h4,
.h4 {
	font-size: 1.2rem;
}

h5,
.h5 {
	font-size: 1rem;
}

h6,
.h6 {
	font-size: .8rem;
}

// Paragraphs
p {
	margin: 0 0 $line-height-base;
}

// Semantic text elements
a,
ins,
u {
	text-decoration-skip: ink edges;
}

abbr[title] {
	border-bottom: $border-width-1 dotted;
	cursor: help;
	text-decoration: none;
}




// Blockquote
blockquote {
	border-left: $border-solid-1;
	margin-left: 0;
	padding: $space-2 $space-4;

	p:last-child {
		margin-bottom: 0;
	}
}

// List
// ––––––––––––––––––––––––––––––––––––––––––––––––––

dl,
ol,
ul {
	list-style: none;
	margin-top: 0;
	padding-left: 0;

	dl,
	ol,
	ul {
		font-size: 90%;
		margin: 1.5rem 0 1.5rem 3.0rem;
	}
}

ol {
	list-style: decimal inside;
}

ul {
	list-style: circle inside;
}